body {
  position: relative;
  background-color: #505050;
  width: 100%;
  overflow-x: hidden;
  max-height: 800px;
  max-width: 1500px;
}

header {
  background-color: #929292;
  display: flex;
  margin: 1em auto;
  max-width: 94em;
  min-width: 50em;
  width: 85%;
  height: 6em;
  padding: 8px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 7px 7px 10px black;
}

.logo img {
  width: 20em;
}

nav {
  width: 13.5em;
  padding-right: 5px;
  height: 100%;
  position: relative;
}

.nav_search {
  width: 12.8em;
  display: block;
  float: left;
}

.nav_controls {
  width: 1em;
  display: block;
  position: absolute;
}

.nav_controls-reload {
  right: 5px;
  top: 5px;
}

.nav_controls-close {
  right: 5px;
  bottom: 5px;
}

main {
  display: flex;
  justify-content: center;
  max-width: 94em;
  min-width: 50em;
  width: 100%;
}

.left-side {
  background-color: #929292;
  width: 5.5em;
  border-radius: 5px;
  box-shadow: 7px 7px 10px black;
  align-self: flex-start;
  height: 19em;
}

.left-side img {
  width: 2.8em;
  display: block;
  margin: 5px auto;
  padding: 1px;
  border: 3px solid transparent;
  border-radius: 3px;
}

#eye {
  border: 3px solid red;
  border-radius: 3px;
}

.lab {
  background-color: #929292;
  width: 60%;
  min-width: 40em;
  max-width: 80em;
  margin: 0 2em;
  border-radius: 5px;
  box-shadow: 7px 7px 10px black;
  display: flex;
  position: relative;
}

.lab img {
  width: 98%;
  height: 98%;
  display: block;
  margin: auto auto;
}

.link-chair {
  position: absolute;
  display: block;
  width: 5em;
  height: 8em;
  left: 33%;
  bottom: 12%;
}

.link-computer {
  position: absolute;
  display: block;
  width: 8.5em;
  height: 6.5em;
  right: 3%;
  bottom: 18%;
}

.right-side {
  background-color: #929292;
  width: 5.5em;
  border-radius: 5px;
  box-shadow: 7px 7px 10px black;
  align-self: flex-start;
  height: 19em;
}

.right-side img {
  width: 3em;
  height: auto;
  display: block;
  margin: 10px auto;
}

.brickwall {
  width: 5em;
  margin: 10px auto;
  height: 3.5em;
  background-repeat: repeat;
  background-image: url("./resources/brick.jpg");
}

.chat {
  position: absolute;
  width: 21em;
  bottom: -15%;
  left: 7%;
  background-color: #88FF89;
  border-radius: 5px;
  box-shadow: 7px 7px 10px black;
  padding: 5px 10px;
}

.chat p {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
  font-family: arial;
}

.chat form {
  margin: 5px 0 50px;
}

.input-text {
  width: 70%;
}

.italic {
  font-style: italic;
}

.font-large {
  font-size: 2em;
  font-style: normal;
  font-family: serif;
}

.text-shadow {
  text-shadow: 4px 4px 2px red;
}
